<div  class= "d-flex flex-column justify-content-center align-items-center">
<h1> Thank you for your purchase!</h1>
<h2> Your order will be dispatched shortly </h2>
<%= link_to "Keep Browsing", listings_path %>
</div>
