<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">ECHO</h1>
            <p class="lead">Vintage Instruments Marketplace</p>
            <hr class="my-4">
            <p>Find your new old instrument today!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Start Browsing</a>
            </p>
         </div>
              <div class="col-md-6">
                <%= image_tag "coverimage", class: "index-image" %>
            </div>
     </div>
</div>
  
